###########################################################################################
################################ SYS_CLK 50MHz ############################################
###########################################################################################
NET "CLK_50M" LOC = AF12;
NET "CLK_50M" IOSTANDARD = "LVCMOS33";

###########################################################################################
################################ GPIO #####################################################
###########################################################################################
NET "LED<0>" LOC = AC20; NET "LED<0>" IOSTANDARD = "LVCMOS33"; NET "LED<0>" DRIVE = 12; NET "LED<0>" SLEW = SLOW;
NET "LED<1>" LOC = AD20; NET "LED<1>" IOSTANDARD = "LVCMOS33"; NET "LED<1>" DRIVE = 12; NET "LED<1>" SLEW = SLOW;
NET "LED<2>" LOC = AE20; NET "LED<2>" IOSTANDARD = "LVCMOS33"; NET "LED<2>" DRIVE = 12; NET "LED<2>" SLEW = SLOW;
NET "LED<3>" LOC = AF20; NET "LED<3>" IOSTANDARD = "LVCMOS33"; NET "LED<3>" DRIVE = 12; NET "LED<3>" SLEW = SLOW;
NET "LED<4>" LOC = AB21; NET "LED<4>" IOSTANDARD = "LVCMOS33"; NET "LED<4>" DRIVE = 12; NET "LED<4>" SLEW = SLOW;
NET "LED<5>" LOC = AC21; NET "LED<5>" IOSTANDARD = "LVCMOS33"; NET "LED<5>" DRIVE = 12; NET "LED<5>" SLEW = SLOW;
NET "LED<6>" LOC = AD21; NET "LED<6>" IOSTANDARD = "LVCMOS33"; NET "LED<6>" DRIVE = 12; NET "LED<6>" SLEW = SLOW;
NET "LED<7>" LOC = AE21; NET "LED<7>" IOSTANDARD = "LVCMOS33"; NET "LED<7>" DRIVE = 12; NET "LED<7>" SLEW = SLOW;

###########################################################################################
################################## ASIC_D [119:0] #########################################
###########################################################################################
NET "ASIC_D<0>" LOC = E22; NET "ASIC_D<0>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<0>" DRIVE = 8;
NET "ASIC_D<1>" LOC = D22; NET "ASIC_D<1>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<1>" DRIVE = 8;
NET "ASIC_D<2>" LOC = C22; NET "ASIC_D<2>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<2>" DRIVE = 8;
NET "ASIC_D<3>" LOC = A22; NET "ASIC_D<3>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<3>" DRIVE = 8;
NET "ASIC_D<4>" LOC = E21; NET "ASIC_D<4>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<4>" DRIVE = 8;
NET "ASIC_D<5>" LOC = D21; NET "ASIC_D<5>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<5>" DRIVE = 8;
NET "ASIC_D<6>" LOC = C21; NET "ASIC_D<6>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<6>" DRIVE = 8;
NET "ASIC_D<7>" LOC = B21; NET "ASIC_D<7>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<7>" DRIVE = 8;
NET "ASIC_D<8>" LOC = A21; NET "ASIC_D<8>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<8>" DRIVE = 8;
NET "ASIC_D<9>" LOC = E20; NET "ASIC_D<9>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<9>" DRIVE = 8;
NET "ASIC_D<10>" LOC = D20; NET "ASIC_D<10>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<10>" DRIVE = 8;
NET "ASIC_D<11>" LOC = C20; NET "ASIC_D<11>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<11>" DRIVE = 8;
NET "ASIC_D<12>" LOC = B20; NET "ASIC_D<12>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<12>" DRIVE = 8;
NET "ASIC_D<13>" LOC = A20; NET "ASIC_D<13>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<13>" DRIVE = 8;
NET "ASIC_D<14>" LOC = D19; NET "ASIC_D<14>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<14>" DRIVE = 8;
NET "ASIC_D<15>" LOC = C19; NET "ASIC_D<15>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<15>" DRIVE = 8;
NET "ASIC_D<16>" LOC = A19; NET "ASIC_D<16>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<16>" DRIVE = 8;
NET "ASIC_D<17>" LOC = E18; NET "ASIC_D<17>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<17>" DRIVE = 8;
NET "ASIC_D<18>" LOC = D18; NET "ASIC_D<18>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<18>" DRIVE = 8;
NET "ASIC_D<19>" LOC = B18; NET "ASIC_D<19>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<19>" DRIVE = 8;
NET "ASIC_D<20>" LOC = B14; NET "ASIC_D<20>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<20>" DRIVE = 8;
NET "ASIC_D<21>" LOC = C14; NET "ASIC_D<21>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<21>" DRIVE = 8;
NET "ASIC_D<22>" LOC = D14; NET "ASIC_D<22>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<22>" DRIVE = 8;
NET "ASIC_D<23>" LOC = E14; NET "ASIC_D<23>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<23>" DRIVE = 8;
NET "ASIC_D<24>" LOC = A15; NET "ASIC_D<24>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<24>" DRIVE = 8;
NET "ASIC_D<25>" LOC = B15; NET "ASIC_D<25>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<25>" DRIVE = 8;
NET "ASIC_D<26>" LOC = C15; NET "ASIC_D<26>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<26>" DRIVE = 8;
NET "ASIC_D<27>" LOC = D15; NET "ASIC_D<27>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<27>" DRIVE = 8;
NET "ASIC_D<28>" LOC = A16; NET "ASIC_D<28>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<28>" DRIVE = 8;
NET "ASIC_D<29>" LOC = C16; NET "ASIC_D<29>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<29>" DRIVE = 8;
NET "ASIC_D<30>" LOC = D16; NET "ASIC_D<30>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<30>" DRIVE = 8;
NET "ASIC_D<31>" LOC = A17; NET "ASIC_D<31>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<31>" DRIVE = 8;
NET "ASIC_D<32>" LOC = B17; NET "ASIC_D<32>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<32>" DRIVE = 8;
NET "ASIC_D<33>" LOC = C17; NET "ASIC_D<33>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<33>" DRIVE = 8;
NET "ASIC_D<34>" LOC = B13; NET "ASIC_D<34>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<34>" DRIVE = 8;
NET "ASIC_D<35>" LOC = C13; NET "ASIC_D<35>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<35>" DRIVE = 8;
NET "ASIC_D<36>" LOC = D13; NET "ASIC_D<36>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<36>" DRIVE = 8;
NET "ASIC_D<37>" LOC = D17; NET "ASIC_D<37>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<37>" DRIVE = 8;
NET "ASIC_D<38>" LOC = E17; NET "ASIC_D<38>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<38>" DRIVE = 8;
NET "ASIC_D<39>" LOC = A18; NET "ASIC_D<39>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<39>" DRIVE = 8;
NET "ASIC_D<40>" LOC = D12; NET "ASIC_D<40>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<40>" DRIVE = 8;
NET "ASIC_D<41>" LOC = C12; NET "ASIC_D<41>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<41>" DRIVE = 8;
NET "ASIC_D<42>" LOC = B12; NET "ASIC_D<42>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<42>" DRIVE = 8;
NET "ASIC_D<43>" LOC = A12; NET "ASIC_D<43>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<43>" DRIVE = 8;
NET "ASIC_D<44>" LOC = D11; NET "ASIC_D<44>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<44>" DRIVE = 8;
NET "ASIC_D<45>" LOC = C11; NET "ASIC_D<45>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<45>" DRIVE = 8;
NET "ASIC_D<46>" LOC = A11; NET "ASIC_D<46>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<46>" DRIVE = 8;
NET "ASIC_D<47>" LOC = E10; NET "ASIC_D<47>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<47>" DRIVE = 8;
NET "ASIC_D<48>" LOC = D10; NET "ASIC_D<48>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<48>" DRIVE = 8;
NET "ASIC_D<49>" LOC = C10; NET "ASIC_D<49>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<49>" DRIVE = 8;
NET "ASIC_D<50>" LOC = B10; NET "ASIC_D<50>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<50>" DRIVE = 8;
NET "ASIC_D<51>" LOC = A10; NET "ASIC_D<51>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<51>" DRIVE = 8;
NET "ASIC_D<52>" LOC = E9; NET "ASIC_D<52>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<52>" DRIVE = 8;
NET "ASIC_D<53>" LOC = D9; NET "ASIC_D<53>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<53>" DRIVE = 8;
NET "ASIC_D<54>" LOC = B9; NET "ASIC_D<54>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<54>" DRIVE = 8;
NET "ASIC_D<55>" LOC = A9; NET "ASIC_D<55>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<55>" DRIVE = 8;
NET "ASIC_D<56>" LOC = D8; NET "ASIC_D<56>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<56>" DRIVE = 8;
NET "ASIC_D<57>" LOC = C8; NET "ASIC_D<57>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<57>" DRIVE = 8;
NET "ASIC_D<58>" LOC = A8; NET "ASIC_D<58>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<58>" DRIVE = 8;
NET "ASIC_D<59>" LOC = E7; NET "ASIC_D<59>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<59>" DRIVE = 8;
NET "ASIC_D<60>" LOC = C2; NET "ASIC_D<60>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<60>" DRIVE = 8;
NET "ASIC_D<61>" LOC = A3; NET "ASIC_D<61>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<61>" DRIVE = 8;
NET "ASIC_D<62>" LOC = B3; NET "ASIC_D<62>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<62>" DRIVE = 8;
NET "ASIC_D<63>" LOC = A4; NET "ASIC_D<63>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<63>" DRIVE = 8;
NET "ASIC_D<64>" LOC = B4; NET "ASIC_D<64>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<64>" DRIVE = 8;
NET "ASIC_D<65>" LOC = C4; NET "ASIC_D<65>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<65>" DRIVE = 8;
NET "ASIC_D<66>" LOC = D4; NET "ASIC_D<66>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<66>" DRIVE = 8;
NET "ASIC_D<67>" LOC = A5; NET "ASIC_D<67>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<67>" DRIVE = 8;
NET "ASIC_D<68>" LOC = C5; NET "ASIC_D<68>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<68>" DRIVE = 8;
NET "ASIC_D<69>" LOC = D5; NET "ASIC_D<69>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<69>" DRIVE = 8;
NET "ASIC_D<70>" LOC = E5; NET "ASIC_D<70>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<70>" DRIVE = 8;
NET "ASIC_D<71>" LOC = A6; NET "ASIC_D<71>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<71>" DRIVE = 8;
NET "ASIC_D<72>" LOC = B6; NET "ASIC_D<72>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<72>" DRIVE = 8;
NET "ASIC_D<73>" LOC = C6; NET "ASIC_D<73>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<73>" DRIVE = 8;
NET "ASIC_D<74>" LOC = D6; NET "ASIC_D<74>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<74>" DRIVE = 8;
NET "ASIC_D<75>" LOC = E6; NET "ASIC_D<75>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<75>" DRIVE = 8;
NET "ASIC_D<76>" LOC = A7; NET "ASIC_D<76>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<76>" DRIVE = 8;
NET "ASIC_D<77>" LOC = B7; NET "ASIC_D<77>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<77>" DRIVE = 8;
NET "ASIC_D<78>" LOC = C7; NET "ASIC_D<78>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<78>" DRIVE = 8;
NET "ASIC_D<79>" LOC = D7; NET "ASIC_D<79>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<79>" DRIVE = 8;
NET "ASIC_D<80>" LOC = C1; NET "ASIC_D<80>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<80>" DRIVE = 8;
NET "ASIC_D<81>" LOC = D3; NET "ASIC_D<81>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<81>" DRIVE = 8;
NET "ASIC_D<82>" LOC = D2; NET "ASIC_D<82>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<82>" DRIVE = 8;
NET "ASIC_D<83>" LOC = D1; NET "ASIC_D<83>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<83>" DRIVE = 8;
NET "ASIC_D<84>" LOC = E4; NET "ASIC_D<84>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<84>" DRIVE = 8;
NET "ASIC_D<85>" LOC = E3; NET "ASIC_D<85>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<85>" DRIVE = 8;
NET "ASIC_D<86>" LOC = E2; NET "ASIC_D<86>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<86>" DRIVE = 8;
NET "ASIC_D<87>" LOC = E1; NET "ASIC_D<87>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<87>" DRIVE = 8;
NET "ASIC_D<88>" LOC = F4; NET "ASIC_D<88>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<88>" DRIVE = 8;
NET "ASIC_D<89>" LOC = F3; NET "ASIC_D<89>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<89>" DRIVE = 8;
NET "ASIC_D<90>" LOC = F1; NET "ASIC_D<90>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<90>" DRIVE = 8;
NET "ASIC_D<91>" LOC = G5; NET "ASIC_D<91>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<91>" DRIVE = 8;
NET "ASIC_D<92>" LOC = G4; NET "ASIC_D<92>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<92>" DRIVE = 8;
NET "ASIC_D<93>" LOC = G3; NET "ASIC_D<93>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<93>" DRIVE = 8;
NET "ASIC_D<94>" LOC = G2; NET "ASIC_D<94>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<94>" DRIVE = 8;
NET "ASIC_D<95>" LOC = G1; NET "ASIC_D<95>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<95>" DRIVE = 8;
NET "ASIC_D<96>" LOC = H5; NET "ASIC_D<96>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<96>" DRIVE = 8;
NET "ASIC_D<97>" LOC = H4; NET "ASIC_D<97>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<97>" DRIVE = 8;
NET "ASIC_D<98>" LOC = H3; NET "ASIC_D<98>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<98>" DRIVE = 8;
NET "ASIC_D<99>" LOC = H2; NET "ASIC_D<99>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<99>" DRIVE = 8;
NET "ASIC_D<100>" LOC = AC3; NET "ASIC_D<100>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<100>" DRIVE = 8;
NET "ASIC_D<101>" LOC = AB1; NET "ASIC_D<101>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<101>" DRIVE = 8;
NET "ASIC_D<102>" LOC = AB2; NET "ASIC_D<102>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<102>" DRIVE = 8;
NET "ASIC_D<103>" LOC = AB3; NET "ASIC_D<103>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<103>" DRIVE = 8;
NET "ASIC_D<104>" LOC = AB4; NET "ASIC_D<104>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<104>" DRIVE = 8;
NET "ASIC_D<105>" LOC = AA1; NET "ASIC_D<105>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<105>" DRIVE = 8;
NET "ASIC_D<106>" LOC = AA3; NET "ASIC_D<106>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<106>" DRIVE = 8;
NET "ASIC_D<107>" LOC = AA4; NET "ASIC_D<107>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<107>" DRIVE = 8;
NET "ASIC_D<108>" LOC = Y1; NET "ASIC_D<108>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<108>" DRIVE = 8;
NET "ASIC_D<109>" LOC = Y2; NET "ASIC_D<109>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<109>" DRIVE = 8;
NET "ASIC_D<110>" LOC = Y3; NET "ASIC_D<110>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<110>" DRIVE = 8;
NET "ASIC_D<111>" LOC = Y4; NET "ASIC_D<111>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<111>" DRIVE = 8;
NET "ASIC_D<112>" LOC = Y5; NET "ASIC_D<112>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<112>" DRIVE = 8;
NET "ASIC_D<113>" LOC = W1; NET "ASIC_D<113>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<113>" DRIVE = 8;
NET "ASIC_D<114>" LOC = W2; NET "ASIC_D<114>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<114>" DRIVE = 8;
NET "ASIC_D<115>" LOC = W3; NET "ASIC_D<115>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<115>" DRIVE = 8;
NET "ASIC_D<116>" LOC = W4; NET "ASIC_D<116>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<116>" DRIVE = 8;
NET "ASIC_D<117>" LOC = W5; NET "ASIC_D<117>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<117>" DRIVE = 8;
NET "ASIC_D<118>" LOC = V5; NET "ASIC_D<118>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<118>" DRIVE = 8;
NET "ASIC_D<119>" LOC = H1; NET "ASIC_D<119>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<119>" DRIVE = 8;