###########################################################################################
################################ SYS_CLK 50MHz ############################################
###########################################################################################
NET "CLK_50M" LOC = AF12;
NET "CLK_50M" IOSTANDARD = "LVCMOS33";

###########################################################################################
################################ GPIO #####################################################
###########################################################################################
NET "SW_RSTn" LOC = AB14; NET "SW_RSTn" IOSTANDARD = "LVCMOS33"; NET "SW_RSTn" PULLUP;

NET "LED<0>" LOC = AC20; NET "LED<0>" IOSTANDARD = "LVCMOS33"; NET "LED<0>" DRIVE = 12; NET "LED<0>" SLEW = SLOW;
NET "LED<1>" LOC = AD20; NET "LED<1>" IOSTANDARD = "LVCMOS33"; NET "LED<1>" DRIVE = 12; NET "LED<1>" SLEW = SLOW;
NET "LED<2>" LOC = AE20; NET "LED<2>" IOSTANDARD = "LVCMOS33"; NET "LED<2>" DRIVE = 12; NET "LED<2>" SLEW = SLOW;
NET "LED<3>" LOC = AF20; NET "LED<3>" IOSTANDARD = "LVCMOS33"; NET "LED<3>" DRIVE = 12; NET "LED<3>" SLEW = SLOW;
NET "LED<4>" LOC = AB21; NET "LED<4>" IOSTANDARD = "LVCMOS33"; NET "LED<4>" DRIVE = 12; NET "LED<4>" SLEW = SLOW;
NET "LED<5>" LOC = AC21; NET "LED<5>" IOSTANDARD = "LVCMOS33"; NET "LED<5>" DRIVE = 12; NET "LED<5>" SLEW = SLOW;
NET "LED<6>" LOC = AD21; NET "LED<6>" IOSTANDARD = "LVCMOS33"; NET "LED<6>" DRIVE = 12; NET "LED<6>" SLEW = SLOW;
NET "LED<7>" LOC = AE21; NET "LED<7>" IOSTANDARD = "LVCMOS33"; NET "LED<7>" DRIVE = 12; NET "LED<7>" SLEW = SLOW;

NET "DIP_SW<0>" LOC = AB18; NET "DIP_SW<0>" IOSTANDARD = "LVTTL"; NET "DIP_SW<0>" PULLDOWN;
NET "DIP_SW<1>" LOC = AC18; NET "DIP_SW<1>" IOSTANDARD = "LVTTL"; NET "DIP_SW<1>" PULLDOWN;
NET "DIP_SW<2>" LOC = AE18; NET "DIP_SW<2>" IOSTANDARD = "LVTTL"; NET "DIP_SW<2>" PULLDOWN;
NET "DIP_SW<3>" LOC = AF18; NET "DIP_SW<3>" IOSTANDARD = "LVTTL"; NET "DIP_SW<3>" PULLDOWN;
NET "DIP_SW<4>" LOC = AC19; NET "DIP_SW<4>" IOSTANDARD = "LVTTL"; NET "DIP_SW<4>" PULLDOWN;
NET "DIP_SW<5>" LOC = AD19; NET "DIP_SW<5>" IOSTANDARD = "LVTTL"; NET "DIP_SW<5>" PULLDOWN;
NET "DIP_SW<6>" LOC = AF19; NET "DIP_SW<6>" IOSTANDARD = "LVTTL"; NET "DIP_SW<6>" PULLDOWN;
NET "DIP_SW<7>" LOC = AB20; NET "DIP_SW<7>" IOSTANDARD = "LVTTL"; NET "DIP_SW<7>" PULLDOWN;

###########################################################################################
################################# ADC #####################################################
###########################################################################################
NET "ADC_CLK" LOC = AB13; NET "ADC_CLK" IOSTANDARD = "LVCMOS33"; NET "ADC_CLK" DRIVE = 8;
NET "ADC_PDWN" LOC = AE12; NET "ADC_PDWN" IOSTANDARD = "LVCMOS33"; NET "ADC_PDWN" DRIVE = 8;
NET "ADC_OTR" LOC = AB10; NET "ADC_OTR" IOSTANDARD = "LVCMOS33";
NET "ADC_D<0>" LOC = AD12; NET "ADC_D<0>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<1>" LOC = AC12; NET "ADC_D<1>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<2>" LOC = AF11; NET "ADC_D<2>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<3>" LOC = AD11; NET "ADC_D<3>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<4>" LOC = AC11; NET "ADC_D<4>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<5>" LOC = AD16; NET "ADC_D<5>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<6>" LOC = AC16; NET "ADC_D<6>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<7>" LOC = AC15; NET "ADC_D<7>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<8>" LOC = AF10; NET "ADC_D<8>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<9>" LOC = AE10; NET "ADC_D<9>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<10>" LOC = AD10; NET "ADC_D<10>" IOSTANDARD = "LVCMOS33";
NET "ADC_D<11>" LOC = AC10; NET "ADC_D<11>" IOSTANDARD = "LVCMOS33";

###########################################################################################
################################# DAC #####################################################
###########################################################################################
NET "DAC_SCLK" LOC = AC13; NET "DAC_SCLK" IOSTANDARD = "LVCMOS33"; NET "DAC_SCLK" DRIVE = 8;
NET "DAC_SYNC" LOC = AD13; NET "DAC_SYNC" IOSTANDARD = "LVCMOS33"; NET "DAC_SYNC" DRIVE = 8;
NET "DAC_D" LOC = AE13; NET "DAC_D" IOSTANDARD = "LVCMOS33"; NET "DAC_D" DRIVE = 8;

###########################################################################################
################################# NIM #####################################################
###########################################################################################
NET "NIM_IN<0>" LOC = AC14; NET "NIM_IN<0>" IOSTANDARD = "LVTTL"; 
NET "NIM_IN<1>" LOC = AD14; NET "NIM_IN<1>" IOSTANDARD = "LVTTL";
NET "NIM_OUT<0>" LOC = AE14; NET "NIM_OUT<0>" IOSTANDARD = "LVTTL"; NET "NIM_OUT<0>" DRIVE = 12;
NET "NIM_OUT<1>" LOC = AB17; NET "NIM_OUT<1>" IOSTANDARD = "LVTTL"; NET "NIM_OUT<1>" DRIVE = 12;

###########################################################################################
################################# USR #####################################################
###########################################################################################
NET "USR_CLK" LOC = W24; NET "USR_CLK" IOSTANDARD = "LVCMOS33"; NET "USR_CLK" DRIVE = 8; NET "USR_CLK" SLEW = SLOW;

NET "USR_ACTIVE" LOC = AF23; NET "USR_ACTIVE" IOSTANDARD = "LVCMOS33"; 
NET "USR_CLOSE_REQ" LOC = AF24; NET "USR_CLOSE_REQ" IOSTANDARD = "LVCMOS33";
NET "USR_CLOSE_ACK" LOC = AE23; NET "USR_CLOSE_ACK" IOSTANDARD = "LVCMOS33"; NET "USR_CLOSE_ACK" DRIVE = 8; NET "USR_CLOSE_ACK" SLEW = SLOW;

NET "USR_TX_AFULL" LOC = AA26; NET "USR_TX_AFULL" IOSTANDARD = "LVCMOS33";
NET "USR_TX_WE" LOC = AA24; NET "USR_TX_WE" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WE" DRIVE = 8;
NET "USR_TX_WD<0>" LOC = AA23; NET "USR_TX_WD<0>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<0>" DRIVE = 8; NET "USR_TX_WD<0>" SLEW = SLOW;
NET "USR_TX_WD<1>" LOC = Y26; NET "USR_TX_WD<1>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<1>" DRIVE = 8; NET "USR_TX_WD<1>" SLEW = SLOW;
NET "USR_TX_WD<2>" LOC = Y24; NET "USR_TX_WD<2>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<2>" DRIVE = 8; NET "USR_TX_WD<2>" SLEW = SLOW;
NET "USR_TX_WD<3>" LOC = Y25; NET "USR_TX_WD<3>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<3>" DRIVE = 8; NET "USR_TX_WD<3>" SLEW = SLOW;
NET "USR_TX_WD<4>" LOC = Y23; NET "USR_TX_WD<4>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<4>" DRIVE = 8; NET "USR_TX_WD<4>" SLEW = SLOW;
NET "USR_TX_WD<5>" LOC = W25; NET "USR_TX_WD<5>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<5>" DRIVE = 8; NET "USR_TX_WD<5>" SLEW = SLOW;
NET "USR_TX_WD<6>" LOC = W26; NET "USR_TX_WD<6>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<6>" DRIVE = 8; NET "USR_TX_WD<6>" SLEW = SLOW;
NET "USR_TX_WD<7>" LOC = W23; NET "USR_TX_WD<7>" IOSTANDARD = "LVCMOS33"; NET "USR_TX_WD<7>" DRIVE = 8; NET "USR_TX_WD<7>" SLEW = SLOW;

NET "USR_RX_EMPTY" LOC = AE24; NET "USR_RX_EMPTY" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RE" LOC = AD25; NET "USR_RX_RE" IOSTANDARD = "LVCMOS33"; NET "USR_RX_RE" DRIVE = 8; NET "USR_RX_RE" SLEW = SLOW;
NET "USR_RX_RV" LOC = AB23; NET "USR_RX_RV" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<0>" LOC = AD26; NET "USR_RX_RD<0>" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<1>" LOC = AC26; NET "USR_RX_RD<1>" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<2>" LOC = AC25; NET "USR_RX_RD<2>" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<3>" LOC = AC24; NET "USR_RX_RD<3>" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<4>" LOC = AC23; NET "USR_RX_RD<4>" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<5>" LOC = AB26; NET "USR_RX_RD<5>" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<6>" LOC = AB25; NET "USR_RX_RD<6>" IOSTANDARD = "LVCMOS33";
NET "USR_RX_RD<7>" LOC = AB24; NET "USR_RX_RD<7>" IOSTANDARD = "LVCMOS33";

###########################################################################################
################################# REG #####################################################
###########################################################################################
NET "REG_CLK" LOC = AD17; NET "REG_CLK" IOSTANDARD = "LVCMOS33";
NET "REG_ACT" LOC = AC22; NET "REG_ACT" IOSTANDARD = "LVCMOS33";
NET "REG_DI" LOC = AF22; NET "REG_DI" IOSTANDARD = "LVCMOS33"; NET "REG_DI" DRIVE = 8; NET "REG_DI" SLEW = SLOW;
NET "REG_DO" LOC = AD22; NET "REG_DO" IOSTANDARD = "LVCMOS33";

NET "REV<0>" LOC = V22; NET "REV<0>" IOSTANDARD = "LVCMOS33";
NET "REV<1>" LOC = W22; NET "REV<1>" IOSTANDARD = "LVCMOS33";
NET "REV<2>" LOC = Y22; NET "REV<2>" IOSTANDARD = "LVCMOS33";

###########################################################################################
################################## ASIC_D [119:0] #########################################
###########################################################################################
# NET "ASIC_D<0>" LOC = E22; NET "ASIC_D<0>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<0>" DRIVE = 8;
# NET "ASIC_D<1>" LOC = D22; NET "ASIC_D<1>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<1>" DRIVE = 8;
# NET "ASIC_D<2>" LOC = C22; NET "ASIC_D<2>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<2>" DRIVE = 8;
# NET "ASIC_D<3>" LOC = A22; NET "ASIC_D<3>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<3>" DRIVE = 8;
# NET "ASIC_D<4>" LOC = E21; NET "ASIC_D<4>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<4>" DRIVE = 8;
# NET "ASIC_D<5>" LOC = D21; NET "ASIC_D<5>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<5>" DRIVE = 8;
# NET "ASIC_D<6>" LOC = C21; NET "ASIC_D<6>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<6>" DRIVE = 8;
# NET "ASIC_D<7>" LOC = B21; NET "ASIC_D<7>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<7>" DRIVE = 8;
# NET "ASIC_D<8>" LOC = A21; NET "ASIC_D<8>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<8>" DRIVE = 8;
# NET "ASIC_D<9>" LOC = E20; NET "ASIC_D<9>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<9>" DRIVE = 8;
# NET "ASIC_D<10>" LOC = D20; NET "ASIC_D<10>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<10>" DRIVE = 8;
# NET "ASIC_D<11>" LOC = C20; NET "ASIC_D<11>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<11>" DRIVE = 8;
# NET "ASIC_D<12>" LOC = B20; NET "ASIC_D<12>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<12>" DRIVE = 8;
# NET "ASIC_D<13>" LOC = A20; NET "ASIC_D<13>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<13>" DRIVE = 8;
# NET "ASIC_D<14>" LOC = D19; NET "ASIC_D<14>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<14>" DRIVE = 8;
# NET "ASIC_D<15>" LOC = C19; NET "ASIC_D<15>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<15>" DRIVE = 8;
# NET "ASIC_D<16>" LOC = A19; NET "ASIC_D<16>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<16>" DRIVE = 8;
# NET "ASIC_D<17>" LOC = E18; NET "ASIC_D<17>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<17>" DRIVE = 8;
# NET "ASIC_D<18>" LOC = D18; NET "ASIC_D<18>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<18>" DRIVE = 8;
# NET "ASIC_D<19>" LOC = B18; NET "ASIC_D<19>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<19>" DRIVE = 8;
# NET "ASIC_D<20>" LOC = B14; NET "ASIC_D<20>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<20>" DRIVE = 8;
# NET "ASIC_D<21>" LOC = C14; NET "ASIC_D<21>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<21>" DRIVE = 8;
# NET "ASIC_D<22>" LOC = D14; NET "ASIC_D<22>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<22>" DRIVE = 8;
# NET "ASIC_D<23>" LOC = E14; NET "ASIC_D<23>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<23>" DRIVE = 8;
# NET "ASIC_D<24>" LOC = A15; NET "ASIC_D<24>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<24>" DRIVE = 8;
# NET "ASIC_D<25>" LOC = B15; NET "ASIC_D<25>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<25>" DRIVE = 8;
# NET "ASIC_D<26>" LOC = C15; NET "ASIC_D<26>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<26>" DRIVE = 8;
# NET "ASIC_D<27>" LOC = D15; NET "ASIC_D<27>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<27>" DRIVE = 8;
# NET "ASIC_D<28>" LOC = A16; NET "ASIC_D<28>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<28>" DRIVE = 8;
# NET "ASIC_D<29>" LOC = C16; NET "ASIC_D<29>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<29>" DRIVE = 8;
# NET "ASIC_D<30>" LOC = D16; NET "ASIC_D<30>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<30>" DRIVE = 8;
# NET "ASIC_D<31>" LOC = A17; NET "ASIC_D<31>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<31>" DRIVE = 8;
# NET "ASIC_D<32>" LOC = B17; NET "ASIC_D<32>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<32>" DRIVE = 8;
# NET "ASIC_D<33>" LOC = C17; NET "ASIC_D<33>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<33>" DRIVE = 8;
# NET "ASIC_D<34>" LOC = B13; NET "ASIC_D<34>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<34>" DRIVE = 8;
# NET "ASIC_D<35>" LOC = C13; NET "ASIC_D<35>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<35>" DRIVE = 8;
# NET "ASIC_D<36>" LOC = D13; NET "ASIC_D<36>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<36>" DRIVE = 8;
# NET "ASIC_D<37>" LOC = D17; NET "ASIC_D<37>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<37>" DRIVE = 8;
# NET "ASIC_D<38>" LOC = E17; NET "ASIC_D<38>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<38>" DRIVE = 8;
# NET "ASIC_D<39>" LOC = A18; NET "ASIC_D<39>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<39>" DRIVE = 8;
# NET "ASIC_D<40>" LOC = D12; NET "ASIC_D<40>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<40>" DRIVE = 8;
# NET "ASIC_D<41>" LOC = C12; NET "ASIC_D<41>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<41>" DRIVE = 8;
# NET "ASIC_D<42>" LOC = B12; NET "ASIC_D<42>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<42>" DRIVE = 8;
# NET "ASIC_D<43>" LOC = A12; NET "ASIC_D<43>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<43>" DRIVE = 8;
# NET "ASIC_D<44>" LOC = D11; NET "ASIC_D<44>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<44>" DRIVE = 8;
# NET "ASIC_D<45>" LOC = C11; NET "ASIC_D<45>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<45>" DRIVE = 8;
# NET "ASIC_D<46>" LOC = A11; NET "ASIC_D<46>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<46>" DRIVE = 8;
# NET "ASIC_D<47>" LOC = E10; NET "ASIC_D<47>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<47>" DRIVE = 8;
# NET "ASIC_D<48>" LOC = D10; NET "ASIC_D<48>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<48>" DRIVE = 8;
# NET "ASIC_D<49>" LOC = C10; NET "ASIC_D<49>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<49>" DRIVE = 8;
# NET "ASIC_D<50>" LOC = B10; NET "ASIC_D<50>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<50>" DRIVE = 8;
# NET "ASIC_D<51>" LOC = A10; NET "ASIC_D<51>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<51>" DRIVE = 8;
# NET "ASIC_D<52>" LOC = E9; NET "ASIC_D<52>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<52>" DRIVE = 8;
# NET "ASIC_D<53>" LOC = D9; NET "ASIC_D<53>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<53>" DRIVE = 8;
# NET "ASIC_D<54>" LOC = B9; NET "ASIC_D<54>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<54>" DRIVE = 8;
# NET "ASIC_D<55>" LOC = A9; NET "ASIC_D<55>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<55>" DRIVE = 8;
# NET "ASIC_D<56>" LOC = D8; NET "ASIC_D<56>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<56>" DRIVE = 8;
# NET "ASIC_D<57>" LOC = C8; NET "ASIC_D<57>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<57>" DRIVE = 8;
# NET "ASIC_D<58>" LOC = A8; NET "ASIC_D<58>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<58>" DRIVE = 8;
# NET "ASIC_D<59>" LOC = E7; NET "ASIC_D<59>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<59>" DRIVE = 8;
# NET "ASIC_D<60>" LOC = C2; NET "ASIC_D<60>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<60>" DRIVE = 8;
# NET "ASIC_D<61>" LOC = A3; NET "ASIC_D<61>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<61>" DRIVE = 8;
# NET "ASIC_D<62>" LOC = B3; NET "ASIC_D<62>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<62>" DRIVE = 8;
# NET "ASIC_D<63>" LOC = A4; NET "ASIC_D<63>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<63>" DRIVE = 8;
# NET "ASIC_D<64>" LOC = B4; NET "ASIC_D<64>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<64>" DRIVE = 8;
# NET "ASIC_D<65>" LOC = C4; NET "ASIC_D<65>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<65>" DRIVE = 8;
# NET "ASIC_D<66>" LOC = D4; NET "ASIC_D<66>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<66>" DRIVE = 8;
# NET "ASIC_D<67>" LOC = A5; NET "ASIC_D<67>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<67>" DRIVE = 8;
# NET "ASIC_D<68>" LOC = C5; NET "ASIC_D<68>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<68>" DRIVE = 8;
# NET "ASIC_D<69>" LOC = D5; NET "ASIC_D<69>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<69>" DRIVE = 8;
# NET "ASIC_D<70>" LOC = E5; NET "ASIC_D<70>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<70>" DRIVE = 8;
# NET "ASIC_D<71>" LOC = A6; NET "ASIC_D<71>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<71>" DRIVE = 8;
# NET "ASIC_D<72>" LOC = B6; NET "ASIC_D<72>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<72>" DRIVE = 8;
# NET "ASIC_D<73>" LOC = C6; NET "ASIC_D<73>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<73>" DRIVE = 8;
# NET "ASIC_D<74>" LOC = D6; NET "ASIC_D<74>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<74>" DRIVE = 8;
# NET "ASIC_D<75>" LOC = E6; NET "ASIC_D<75>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<75>" DRIVE = 8;
# NET "ASIC_D<76>" LOC = A7; NET "ASIC_D<76>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<76>" DRIVE = 8;
# NET "ASIC_D<77>" LOC = B7; NET "ASIC_D<77>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<77>" DRIVE = 8;
# NET "ASIC_D<78>" LOC = C7; NET "ASIC_D<78>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<78>" DRIVE = 8;
# NET "ASIC_D<79>" LOC = D7; NET "ASIC_D<79>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<79>" DRIVE = 8;
# NET "ASIC_D<80>" LOC = C1; NET "ASIC_D<80>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<80>" DRIVE = 8;
# NET "ASIC_D<81>" LOC = D3; NET "ASIC_D<81>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<81>" DRIVE = 8;
# NET "ASIC_D<82>" LOC = D2; NET "ASIC_D<82>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<82>" DRIVE = 8;
# NET "ASIC_D<83>" LOC = D1; NET "ASIC_D<83>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<83>" DRIVE = 8;
# NET "ASIC_D<84>" LOC = E4; NET "ASIC_D<84>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<84>" DRIVE = 8;
# NET "ASIC_D<85>" LOC = E3; NET "ASIC_D<85>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<85>" DRIVE = 8;
# NET "ASIC_D<86>" LOC = E2; NET "ASIC_D<86>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<86>" DRIVE = 8;
# NET "ASIC_D<87>" LOC = E1; NET "ASIC_D<87>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<87>" DRIVE = 8;
# NET "ASIC_D<88>" LOC = F4; NET "ASIC_D<88>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<88>" DRIVE = 8;
# NET "ASIC_D<89>" LOC = F3; NET "ASIC_D<89>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<89>" DRIVE = 8;
# NET "ASIC_D<90>" LOC = F1; NET "ASIC_D<90>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<90>" DRIVE = 8;
# NET "ASIC_D<91>" LOC = G5; NET "ASIC_D<91>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<91>" DRIVE = 8;
# NET "ASIC_D<92>" LOC = G4; NET "ASIC_D<92>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<92>" DRIVE = 8;
# NET "ASIC_D<93>" LOC = G3; NET "ASIC_D<93>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<93>" DRIVE = 8;
# NET "ASIC_D<94>" LOC = G2; NET "ASIC_D<94>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<94>" DRIVE = 8;
# NET "ASIC_D<95>" LOC = G1; NET "ASIC_D<95>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<95>" DRIVE = 8;
# NET "ASIC_D<96>" LOC = H5; NET "ASIC_D<96>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<96>" DRIVE = 8;
# NET "ASIC_D<97>" LOC = H4; NET "ASIC_D<97>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<97>" DRIVE = 8;
# NET "ASIC_D<98>" LOC = H3; NET "ASIC_D<98>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<98>" DRIVE = 8;
# NET "ASIC_D<99>" LOC = H2; NET "ASIC_D<99>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<99>" DRIVE = 8;
# NET "ASIC_D<100>" LOC = AC3; NET "ASIC_D<100>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<100>" DRIVE = 8;
# NET "ASIC_D<101>" LOC = AB1; NET "ASIC_D<101>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<101>" DRIVE = 8;
# NET "ASIC_D<102>" LOC = AB2; NET "ASIC_D<102>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<102>" DRIVE = 8;
# NET "ASIC_D<103>" LOC = AB3; NET "ASIC_D<103>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<103>" DRIVE = 8;
# NET "ASIC_D<104>" LOC = AB4; NET "ASIC_D<104>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<104>" DRIVE = 8;
# NET "ASIC_D<105>" LOC = AA1; NET "ASIC_D<105>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<105>" DRIVE = 8;
# NET "ASIC_D<106>" LOC = AA3; NET "ASIC_D<106>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<106>" DRIVE = 8;
# NET "ASIC_D<107>" LOC = AA4; NET "ASIC_D<107>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<107>" DRIVE = 8;
# NET "ASIC_D<108>" LOC = Y1; NET "ASIC_D<108>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<108>" DRIVE = 8;
# NET "ASIC_D<109>" LOC = Y2; NET "ASIC_D<109>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<109>" DRIVE = 8;
# NET "ASIC_D<110>" LOC = Y3; NET "ASIC_D<110>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<110>" DRIVE = 8;
# NET "ASIC_D<111>" LOC = Y4; NET "ASIC_D<111>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<111>" DRIVE = 8;
# NET "ASIC_D<112>" LOC = Y5; NET "ASIC_D<112>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<112>" DRIVE = 8;
# NET "ASIC_D<113>" LOC = W1; NET "ASIC_D<113>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<113>" DRIVE = 8;
# NET "ASIC_D<114>" LOC = W2; NET "ASIC_D<114>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<114>" DRIVE = 8;
# NET "ASIC_D<115>" LOC = W3; NET "ASIC_D<115>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<115>" DRIVE = 8;
# NET "ASIC_D<116>" LOC = W4; NET "ASIC_D<116>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<116>" DRIVE = 8;
# NET "ASIC_D<117>" LOC = W5; NET "ASIC_D<117>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<117>" DRIVE = 8;
# NET "ASIC_D<118>" LOC = V5; NET "ASIC_D<118>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<118>" DRIVE = 8;
# NET "ASIC_D<119>" LOC = H1; NET "ASIC_D<119>" IOSTANDARD = "LVCMOS25"; NET "ASIC_D<119>" DRIVE = 8;

NET "EN_DUMY_CUR" LOC = B14; NET "EN_DUMY_CUR" IOSTANDARD = "LVCMOS25"; NET "EN_DUMY_CUR" DRIVE = 8; # D<20>
NET "RST_COMP2" LOC = E14; NET "RST_COMP2" IOSTANDARD = "LVCMOS25"; NET "RST_COMP2" DRIVE = 8; NET "RST_COMP2" SLEW = SLOW; # D<23>
NET "RST_COMP1" LOC = A15; NET "RST_COMP1" IOSTANDARD = "RST_COMP1"; NET "ASIC_D<24>" DRIVE = 8; NET "RST_COMP1" SLEW = SLOW; # D<24>
NET "EN_TEST_ECA" LOC = C17; NET "EN_TEST_ECA" IOSTANDARD = "LVCMOS25"; NET "EN_TEST_ECA" DRIVE = 8; NET "EN_TEST_ECA" SLEW = SLOW; # D<33>
NET "STORE" LOC = B13; NET "STORE" IOSTANDARD = "LVCMOS25"; NET "STORE" DRIVE = 8; NET "STORE" SLEW = SLOW; # D<34>
NET "RST_VTH" LOC = D13; NET "RST_VTH" IOSTANDARD = "LVCMOS25"; NET "RST_VTH" DRIVE = 8; NET "RST_VTH" SLEW = SLOW; # D<36>
NET "RST_CDS_X" LOC = D17; NET "RST_CDS_X" IOSTANDARD = "LVCMOS25"; NET "RST_CDS_X" DRIVE = 8; NET "RST_CDS_X" SLEW = SLOW; # D<37>
NET "RST_PD" LOC = E17; NET "RST_PD" IOSTANDARD = "LVCMOS25"; NET "RST_PD" DRIVE = 8; NET "RST_PD" SLEW = SLOW; # D<38>
NET "RST_TRIGD" LOC = A8; NET "RST_TRIGD" IOSTANDARD = "LVCMOS25"; NET "RST_TRIGD" DRIVE = 8; NET "RST_TRIGD" SLEW = SLOW; # D<58>
NET "RST_CDS" LOC = E7; NET "RST_CDS" IOSTANDARD = "LVCMOS25"; NET "RST_CDS" DRIVE = 8; NET "RST_CDS" SLEW = SLOW; # D<59>
NET "RST_MODE" LOC = A7; NET "RST_MODE" IOSTANDARD = "LVCMOS25"; NET "RST_MODE" DRIVE = 8; NET "RST_MODE" SLEW = SLOW; # D<76>

NET "RA<0>" LOC = B17; NET "RA<0>" IOSTANDARD = "LVCMOS25"; NET "RA<0>" DRIVE = 8; NET "RA<0>" SLEW = SLOW;
NET "RA<1>" LOC = C16; NET "RA<1>" IOSTANDARD = "LVCMOS25"; NET "RA<1>" DRIVE = 8; NET "RA<1>" SLEW = SLOW;
NET "RA<2>" LOC = A17; NET "RA<2>" IOSTANDARD = "LVCMOS25"; NET "RA<2>" DRIVE = 8; NET "RA<2>" SLEW = SLOW;
NET "RA<3>" LOC = D16; NET "RA<3>" IOSTANDARD = "LVCMOS25"; NET "RA<3>" DRIVE = 8; NET "RA<3>" SLEW = SLOW;
NET "RA<4>" LOC = A16; NET "RA<4>" IOSTANDARD = "LVCMOS25"; NET "RA<4>" DRIVE = 8; NET "RA<4>" SLEW = SLOW;
NET "RA<5>" LOC = C15; NET "RA<5>" IOSTANDARD = "LVCMOS25"; NET "RA<5>" DRIVE = 8; NET "RA<5>" SLEW = SLOW;
NET "RA<6>" LOC = D15; NET "RA<6>" IOSTANDARD = "LVCMOS25"; NET "RA<6>" DRIVE = 8; NET "RA<6>" SLEW = SLOW;
NET "EN_DEC_RA" LOC = B15; NET "EN_DEC_RA" IOSTANDARD = "LVCMOS25"; NET "EN_DEC_RA" DRIVE = 8; NET "EN_DEC_RA" SLEW = SLOW;
NET "ENC_RA<0>" LOC = E22; NET "ENC_RA<0>" IOSTANDARD = "LVCMOS25";
NET "ENC_RA<1>" LOC = D21; NET "ENC_RA<1>" IOSTANDARD = "LVCMOS25";
NET "ENC_RA<2>" LOC = D22; NET "ENC_RA<2>" IOSTANDARD = "LVCMOS25";
NET "ENC_RA<3>" LOC = E21; NET "ENC_RA<3>" IOSTANDARD = "LVCMOS25";
NET "ENC_RA<4>" LOC = C22; NET "ENC_RA<4>" IOSTANDARD = "LVCMOS25";
NET "ENC_RA<5>" LOC = C21; NET "ENC_RA<5>" IOSTANDARD = "LVCMOS25";
NET "ENC_RA<6>" LOC = A22; NET "ENC_RA<6>" IOSTANDARD = "LVCMOS25";
NET "ENC_ASRT_RA" LOC = B21; NET "ENC_ASRT_RA" IOSTANDARD = "LVCMOS25";

NET "CA<0>" LOC = D10; NET "CA<0>" IOSTANDARD = "LVCMOS25"; NET "CA<0>" DRIVE = 8;
NET "CA<1>" LOC = A11; NET "CA<1>" IOSTANDARD = "LVCMOS25"; NET "CA<1>" DRIVE = 8;
NET "CA<2>" LOC = C10; NET "CA<2>" IOSTANDARD = "LVCMOS25"; NET "CA<2>" DRIVE = 8;
NET "CA<3>" LOC = E10; NET "CA<3>" IOSTANDARD = "LVCMOS25"; NET "CA<3>" DRIVE = 8;
NET "CA<4>" LOC = E9; NET "CA<4>" IOSTANDARD = "LVCMOS25"; NET "CA<4>" DRIVE = 8;
NET "CA<5>" LOC = B10; NET "CA<5>" IOSTANDARD = "LVCMOS25"; NET "CA<5>" DRIVE = 8;
NET "CA<6>" LOC = D9; NET "CA<6>" IOSTANDARD = "LVCMOS25"; NET "CA<6>" DRIVE = 8;
NET "EN_DEC_CA" LOC = A10; NET "EN_DEC_CA" IOSTANDARD = "LVCMOS25"; NET "EN_DEC_CA" DRIVE = 8; NET "EN_DEC_CA" SLEW = SLOW;
NET "ENC_CA<0>" LOC = B3; NET "ENC_CA<0>" IOSTANDARD = "LVCMOS25"; NET "CA<0>" SLEW = SLOW;
NET "ENC_CA<1>" LOC = C2; NET "ENC_CA<1>" IOSTANDARD = "LVCMOS25"; NET "CA<1>" SLEW = SLOW;
NET "ENC_CA<2>" LOC = A3; NET "ENC_CA<2>" IOSTANDARD = "LVCMOS25"; NET "CA<2>" SLEW = SLOW;
NET "ENC_CA<3>" LOC = B4; NET "ENC_CA<3>" IOSTANDARD = "LVCMOS25"; NET "CA<3>" SLEW = SLOW;
NET "ENC_CA<4>" LOC = D12; NET "ENC_CA<4>" IOSTANDARD = "LVCMOS25"; NET "CA<4>" SLEW = SLOW;
NET "ENC_CA<5>" LOC = A12; NET "ENC_CA<5>" IOSTANDARD = "LVCMOS25"; NET "CA<5>" SLEW = SLOW;
NET "ENC_CA<6>" LOC = B12; NET "ENC_CA<6>" IOSTANDARD = "LVCMOS25"; NET "CA<6>" SLEW = SLOW;
NET "ENC_ASRT_CA" LOC = C11; NET "ENC_ASRT_CA" IOSTANDARD = "LVCMOS25";
NET "EN_ENC" LOC = E5; NET "EN_ENC" IOSTANDARD = "LVCMOS25"; NET "EN_ENC" DRIVE = 8; NET "EN_ENC" SLEW = SLOW;

NET "RST_X_PTSC" LOC = A6; NET "RST_X_PTSC" IOSTANDARD = "LVCMOS25"; NET "RST_X_PTSC" DRIVE = 8; NET "RST_X_PTSC" SLEW = SLOW;
NET "SCLK_PTSC" LOC = E6; NET "SCLK_PTSC" IOSTANDARD = "LVCMOS25"; NET "SCLK_PTSC" DRIVE = 8; NET "SCLK_PTSC" SLEW = SLOW;
NET "SEL_ENC_DATA" LOC = C5; NET "SEL_ENC_DATA" IOSTANDARD = "LVCMOS25"; NET "SEL_ENC_DATA" DRIVE = 8; NET "SEL_ENC_DATA" SLEW = SLOW;
NET "POUT_ROW" LOC = A21; NET "POUT_ROW" IOSTANDARD = "LVCMOS25";
NET "MP_OUT_ROW" LOC = D20; NET "MP_OUT_ROW" IOSTANDARD = "LVCMOS25";
NET "MH_OUT_ROW" LOC = E20; NET "MH_OUT_ROW" IOSTANDARD = "LVCMOS25";
NET "POUT_COL" LOC = A4; NET "POUT_COL" IOSTANDARD = "LVCMOS25";
NET "MP_OUT_COL" LOC = D4; NET "MP_OUT_COL" IOSTANDARD = "LVCMOS25";
NET "MH_OUT_COL" LOC = C4; NET "MH_OUT_COL" IOSTANDARD = "LVCMOS25";

NET "TRIG_OUT_ROW" LOC = D14; NET "TRIG_OUT_ROW" IOSTANDARD = "LVCMOS25";
NET "SOUT_TRIG_ROW" LOC = C20; NET "SOUT_TRIG_ROW" IOSTANDARD = "LVCMOS25";
NET "SIN_MASK_ROW" LOC = C14; NET "SIN_MASK_ROW" IOSTANDARD = "LVCMOS25"; NET "SIN_MASK_ROW" DRIVE = 8; NET "SIN_MASK_ROW" SLEW = SLOW;
NET "SOUT_MASK_ROW" LOC = B20; NET "SOUT_MASK_ROW" IOSTANDARD = "LVCMOS25"; 
NET "TRIG_OUT_COL" LOC = C12; NET "TRIG_OUT_COL" IOSTANDARD = "LVCMOS25";
NET "SOUT_TRIG_COL" LOC = A5; NET "SOUT_TRIG_COL" IOSTANDARD = "LVCMOS25";
NET "SIN_MASK_COL" LOC = D11; NET "SIN_MASK_COL" IOSTANDARD = "LVCMOS25"; NET "SIN_MASK_COL" DRIVE = 8; NET "SIN_MASK_COL" SLEW = SLOW;
NET "SOUT_MASK_COL" LOC = D5; NET "SOUT_MASK_COL" IOSTANDARD = "LVCMOS25";
NET "EN_TRIG_OUT" LOC = C8; NET "EN_TRIG_OUT" IOSTANDARD = "LVCMOS25"; NET "EN_TRIG_OUT" DRIVE = 8; NET "EN_TRIG_OUT" SLEW = SLOW;
NET "SCLK_TRIG" LOC = C6; NET "SCLK_TRIG" IOSTANDARD = "LVCMOS25"; NET "SCLK_TRIG" DRIVE = 8; NET "SCLK_TRIG" SLEW = SLOW;
NET "SCLK_MASK" LOC = B6; NET "SCLK_MASK" IOSTANDARD = "LVCMOS25"; NET "SCLK_MASK" DRIVE = 8; NET "SCLK_MASK" SLEW = SLOW;
NET "SFT_X_TRIG" LOC = D6; NET "SFT_X_TRIG" IOSTANDARD = "LVCMOS25"; NET "SFT_X_TRIG" DRIVE = 8; NET "SFT_X_TRIG" SLEW = SLOW;
NET "RST_X_TRIG" LOC = B7; NET "RST_X_TRIG" IOSTANDARD = "LVCMOS25"; NET "RST_X_TRIG" DRIVE = 8; NET "RST_X_TRIG" SLEW = SLOW;
NET "RST_X_MASK" LOC = D7; NET "RST_X_MASK" IOSTANDARD = "LVCMOS25"; NET "RST_X_MASK" DRIVE = 8; NET "RST_X_MASK" SLEW = SLOW;
NET "DCLK_TRIG" LOC = C7; NET "DCLK_TRIG" IOSTANDARD = "LVCMOS25"; NET "DCLK_TRIG" DRIVE = 8; NET "DCLK_TRIG" SLEW = SLOW;

NET "SG<0>" LOC = A9; NET "SG<0>" IOSTANDARD = "LVCMOS25"; NET "SG<0>" DRIVE = 8; NET "SG<0>" SLEW = SLOW;
NET "SG<1>" LOC = D8; NET "SG<1>" IOSTANDARD = "LVCMOS25"; NET "SG<1>" DRIVE = 8; NET "SG<1>" SLEW = SLOW;
NET "PHI_R" LOC = B9; NET "PHI_R" IOSTANDARD = "LVCMOS25"; NET "PHI_R" DRIVE = 8; NET "PHI_R" SLEW = SLOW;
NET "PHI_SS" LOC = B18; NET "PHI_SS" IOSTANDARD = "LVCMOS25"; NET "PHI_SS" DRIVE = 8; NET "PHI_SS" SLEW = SLOW;
NET "PHI_SR" LOC = E18; NET "PHI_SR" IOSTANDARD = "LVCMOS25"; NET "PHI_SR" DRIVE = 8; NET "PHI_SR" SLEW = SLOW;
NET "PHI_RR" LOC = D18; NET "PHI_RR" IOSTANDARD = "LVCMOS25"; NET "PHI_RR" DRIVE = 8; NET "PHI_RR" SLEW = SLOW;
NET "EN_PHI_H_SEL" LOC = A19; NET "EN_PHI_H_SEL" IOSTANDARD = "LVCMOS25"; NET "EN_PHI_H_SEL" DRIVE = 8; NET "EN_PHI_H_SEL" SLEW = SLOW;
NET "PHI_H_SEL<0>" LOC = D19; NET "PHI_H_SEL<0>" IOSTANDARD = "LVCMOS25"; NET "PHI_H_SEL<0>" DRIVE = 8; NET "PHI_H_SEL<0>" SLEW = SLOW;
NET "PHI_H_SEL<1>" LOC = C19; NET "PHI_H_SEL<1>" IOSTANDARD = "LVCMOS25"; NET "PHI_H_SEL<1>" DRIVE = 8; NET "PHI_H_SEL<1>" SLEW = SLOW;
NET "PHI_H_SEL<2>" LOC = A20; NET "PHI_H_SEL<2>" IOSTANDARD = "LVCMOS25"; NET "PHI_H_SEL<2>" DRIVE = 8; NET "PHI_H_SEL<2>" SLEW = SLOW;

NET "BP_MASK_CLK" LOC = C13; NET "BP_MASK_CLK" IOSTANDARD = "LVCMOS25"; NET "BP_MASK_CLK" DRIVE = 8; NET "BP_MASK_CLK" SLEW = SLOW;
NET "RST_BP_MASK" LOC = A18; NET "RST_BP_MASK" IOSTANDARD = "LVCMOS25"; NET "RST_BP_MASK" DRIVE = 8; NET "RST_BP_MASK" SLEW = SLOW;

NET "ADC2_CLK" LOC = D1; NET "ADC2_CLK" IOSTANDARD = "LVCMOS25"; NET "ADC2_CLK" DRIVE = 8;
NET "ADC2_D<0>" LOC = E2; NET "ADC2_D<0>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<1>" LOC = E1; NET "ADC2_D<1>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<2>" LOC = F4; NET "ADC2_D<2>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<3>" LOC = F3; NET "ADC2_D<3>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<4>" LOC = F1; NET "ADC2_D<4>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<5>" LOC = G5; NET "ADC2_D<5>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<6>" LOC = G4; NET "ADC2_D<6>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<7>" LOC = G3; NET "ADC2_D<7>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<8>" LOC = G2; NET "ADC2_D<8>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<9>" LOC = G1; NET "ADC2_D<9>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<10>" LOC = H5; NET "ADC2_D<10>" IOSTANDARD = "LVCMOS25";
NET "ADC2_D<11>" LOC = H4; NET "ADC2_D<11>" IOSTANDARD = "LVCMOS25";
NET "ADC2_PDWN" LOC = E4; NET "ADC2_PDWN" IOSTANDARD = "LVCMOS25"; NET "ADC2_PDWN" DRIVE = 8;
NET "ADC2_OTR" LOC = E3; NET "ADC2_OTR" IOSTANDARD = "LVCMOS25";

NET "DAC2_D" LOC = D2; NET "DAC2_D" IOSTANDARD = "LVCMOS25"; NET "DAC2_D" DRIVE = 8;
NET "DAC2_SCLK" LOC = C1; NET "DAC2_SCLK" IOSTANDARD = "LVCMOS25"; NET "DAC2_SCLK" DRIVE = 8;
NET "DAC2_SYNC" LOC = D3; NET "DAC2_SYNC" IOSTANDARD = "LVCMOS25"; NET "DAC2_SYNC" DRIVE = 8;
